@import "tailwindcss";

@theme {
  --color-bg-white: #ffffff;
  --color-bg-LimeGreen: #40976c;
}

body {
  @apply min-h-screen text-black;
}

/* تنظیمات پایه Swiper */
:root {
  --swiper-pagination-color: var(--swiper-theme-color);
  --swiper-pagination-right: 8px;
  --swiper-pagination-bottom: 8px;
  --swiper-pagination-bullet-size: 8px;
  --swiper-pagination-bullet-inactive-color: #000;
  --swiper-pagination-bullet-inactive-opacity: 0.2;
  --swiper-pagination-bullet-opacity: 1;
  --swiper-pagination-bullet-horizontal-gap: 4px;
  --swiper-pagination-bullet-vertical-gap: 6px;
}



.swiper.zomorodSwiper {
  overflow: hidden; 
  padding-top: 35px; 
  margin-top: 0; 
}


.swiper-slide {
  position: relative;
  display: flex !important;
  flex-direction: column;
  align-items: center;
  transition: transform 0.3s ease, z-index 0.3s ease; 
  text-align: center;
  z-index: 1; 
}


